<!DOCTYPE html>
<html>
<head>
  <title>Edit Student</title>
</head>
<body>
  <h1>Edit Student</h1>
  <form action="/students/update/<%= student._id %>" method="POST">
    <label>Name: <input type="text" name="name" value="<%= student.name %>" required /></label><br>
    <label>Email: <input type="email" name="email" value="<%= student.email %>" required /></label><br>
    <label>Age: <input type="number" name="age" value="<%= student.age %>" required /></label><br>
    <button type="submit">Update</button>
  </form>
</body>
</html>
